.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24 px;
    font-size: 24px;
    outline-color:black;
    color: black;

}
.mainimage{
    align-self: center;

}
.mainparagraph{
    align-self: center;
    vertical-align: center;

}

.interests{
font-family: 'Courier New', Courier, monospace;
font:'Courier New';
align-content: center;
font:black;
}